$dark-green: #114d3f;
$dark-mode-bg: #07121b;
$light-mode-bg: rgb(248, 244, 244);
$dark-mode-header-bg: #1b2a41;
$light-mode-header-bg: #00916e;
$dark-mode-primary-color: #06ac85;
$dark-mode-button-hover-color: #066d55;
$dark-mode-card-bg: #0a1720;
$dark-mode-card-text-color: rgb(197, 191, 191);
$dark-mode-card-box-shadow: 0 0 0 2px rgba(16, 37, 61, 0.3);
$light-mode-card-bg: rgb(199, 196, 196);

$desktop: 1300px;
$large-tablet: 990px;
$tablet: 800px;
$mobile: 650px;

$border-radius: (
    'image': 100%,
    'btn': 8px,
    'dark-mode-icon': 16px
);

$font-weight: (
    'light': 300,
    'regular': 400,
    'bold': 700
);

$font-size: (
    'small': 0.8rem,
    'regular': 1rem,
    'large': 1.2rem
);


@mixin transition-ease {
    transition: all 0.3s ease;
};

@mixin flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin large-tablet {
    @media (max-width: $large-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@function set-text-color($bg-color) {
    @if($bg-color == $dark-mode-bg) {
        @return rgb(252, 246, 246);
    } @else {
        @return #131212;
    }
};


