$dark-green: #114d3f;
$dark-mode-bg: #07121b;
$dark-mode-header-bg: #1b2a41;
$dark-mode-primary-color: #06ac85;
$dark-mode-button-hover-color: #098b6d;
$dark-mode-card-bg: rgb(7, 32, 46);
$dark-mode-card-text-color: rgb(197, 191, 191);

$light-mode-bg: rgb(248, 244, 244);
$light-mode-header-bg: #00916e;
$light-mode-card-bg: rgb(226, 222, 222);
$light-mode-card-box-shadow: 0 2px 5px rgba(63, 61, 61, 0.3);
$light-mode-top-section-bg: #dfe1e6;

$project-card-box-shadow: 0 0 5px rgba(156, 150, 150, 0.3);

$large-desktop: 1630px;
$desktop: 1300px;
$large-tablet: 990px;
$tablet: 800px;
$mobile: 660px;

$border-radius: (
    'image': 100%,
    'btn': 8px,
    'dark-mode-icon': 16px
);

$font-weight: (
    'light': 300,
    'regular': 400,
    'bold': 700
);

$font-size: (
    'small': 0.8rem,
    'regular': 1rem,
    'large': 1.2rem
);


@mixin transition-ease {
    transition: all 0.3s ease;
};

@mixin flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

@mixin project-card-button {
    background: #353e4d;
    border: solid 1px #293241;
    color: get-text-color($dark-mode-bg);
    width: 150px;
    @include transition-ease;
    a {
        color: #fff;
        font-weight: map-get($font-weight , bold)
    }
    &:hover {
        background: #1a2029;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin large-tablet {
    @media (max-width: $large-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin large-desktop {
    @media (max-width: $large-desktop) {
        @content;
    }
}

@function set-text-color($bg-color) {
    @if($bg-color == $dark-mode-bg) {
        @return rgb(236, 233, 233);
    } @else {
        @return #131212;
    }
};



