@import 'config';

.intro {
    position: relative;
        .topic-title {
            padding-left: 2%;
            vertical-align: center;
            &::before {
                content: '';
                position: absolute;
                background: $dark-mode-primary-color;
                width: 6px;
                height: 40px;
                margin: 0 20px 5px;
                left: -20px;
            }
        }
}

/////////////////////////////////////////////////////////////////////////
////////////////////////////////      BIO      ///////////////////////
/////////////////////////////////////////////////////////////////////////

.about-me-section {
    border-bottom: solid 1px rgba(105, 105, 105, 0.3);

    &__container {
        padding: 3% 0;
        @include flex-row;
        flex-wrap: nowrap;

        @include mobile {
            @include flex-col;
        }

        .bio {
            line-height: 30px;
            padding-right: 3%;
            h2 {
                font-size: 3.5rem;
            }
            .btn-secondary {
                background: #355070;
                border: solid 1px #355070;
            }
            .btn {
                margin-right: 40px;
                &:hover {
                    opacity: 0.9;
                }
                @media (max-width: 1140px) {
                    margin: 10px 5px;
                }
            }
            a {
                color: $dark-mode-primary-color;
            }

        }

        .avatar {
            width: 40%;
            padding-right: 20%;
            img {
                width: 400px;
                height: 300px;
                object-fit: cover;
                object-position: 50% 20%;
                box-shadow: 0 5px 10px rgba(68, 71, 85, 0.4);
                @include desktop {
                    width: 300px;
                    height: 300px;
                }
                @media (max-width: 1140px) {
                    width: 250px;
                    height: 250px;
                }
                @include mobile {
                    width: 200px;
                    height: 200px;
                    margin: 8px;
                }
            }

        }
    }

}

.about-me-section-light-mode {
    background: $light-mode-top-section-bg;
}

/////////////////////////////////////////////////////////////////////////
////////////////////////////////      SKILLS      ///////////////////////
/////////////////////////////////////////////////////////////////////////

.skills-section {

    &__container {
        padding: 2% 0;

        .intro {
            div:nth-child(2) {
                padding: 5px 0;
                a {
                    color: $dark-mode-primary-color;
                }
            }
        }

        .skills-container {
            @include flex-row;
            align-items: flex-start;
            text-align: left;
            width: 100%;
            padding-top: 20px;
            .skill{
                width: 23%;
                @include tablet {
                    width: 48%;
                }
            }
        }

        .skill {
            div, p {
                font-size: map-get($font-size, small);
            }
            h3 {
                font-size: map-get($font-size, large);
                padding: 10px 0 0 0;
            }
            &__icon {
                height: 38px;
                @include flex-row;
                justify-content: flex-start;
            }
            img {
                width: 30px;
                height: 30px;
                margin-right: 5px;
            }
            .css {
                width: 38px;
                height: 38px;
            }

        }
    }
}

/////////////////////////////////////////////////////////////////////////
////////////////////////////////   TESTIMONIALS   ///////////////////////
/////////////////////////////////////////////////////////////////////////

.testimonials-section {
    &__container {
        border-top: solid 1px rgba(179, 175, 175, 0.1);
        border-bottom: solid 1px rgba(179, 175, 175, 0.1);

        .testimonials {
            width: 100%;
            padding: 2% 0 3% 0;

                .rec-carousel-item {
                    height: 100%;
                    .rec-item-wrapper {
                        height: 100%;
                    }
                }
                .testimonial-card {
                    position: relative;
                    background: $dark-mode-card-bg;
                    width: 100%;
                    height: 100%;
                    margin: 5%;
                    padding: 3%;
                    font-size: map-get($font-size , small);
                    color: $dark-mode-card-text-color;
                    &__content {
                        @include flex-col;
                        justify-content: space-between;
                        height: 90%;
                        padding: 30px 30px 0 30px;
                    }

                    .quote-icon {
                        position: absolute;
                        display: inline-block;
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 0;
                        text-align: center;
                        border-top: 50px solid $dark-mode-primary-color;
                        border-right: 50px solid transparent;
                        i {
                            position: absolute;
                            top: -40px;
                            left: 8px;
                            display: inline-block;
                        }
                    }

                    &__reviewer-info {
                        @include flex-row;
                        width: 100%;
                        img {
                            width: 70px;
                            height: 70px;
                            border-radius: map-get($border-radius , image );
                            border: solid 3px rgb(206, 203, 203);
                        }
                        &--info {
                            @include flex-col;
                            align-items: flex-start;
                            width: 70%;
                            padding: 8px;
                        }
                    }

                    @include mobile {

                    }
                }

                .testimonial-card-light-mode {
                    background: rgb(202, 200, 200);
                    box-shadow: $light-mode-card-box-shadow;
                    color: set-text-color($light-mode-bg);
                }

            button {
                background: $dark-mode-primary-color;
                &:hover {
                    background: $dark-mode-card-bg;
                    opacity: 0.8;
                }
            }

            .rec-arrow {
                @include mobile {
                   display: none;
                }
            }

            .rec-dot {
                &:hover {
                    box-shadow: 0 0 1px rgba(255, 254, 254, 0.856);
                }
                &_active {
                    box-shadow: 0 0 1px 3px rgba(255, 254, 254, 0.856);
                }
            }
        }
    }

    &__container--light-mode {
        border-top: solid 1px rgba(77, 72, 72, 0.3);
        border-bottom: solid 1px rgba(77, 72, 72, 0.3);
    }
}

/////////////////////////////////////////////////////////////////////////
//////////////////////////////////   PROJECTS   /////////////////////////
/////////////////////////////////////////////////////////////////////////

.projects-section {
    &__container {
        .projects-wrapper {
            padding: 2% 0;
            @include flex-row;

            .project-card {
                width: 48%;
                margin-bottom: 3%;
                background: $dark-mode-card-bg;
                position: relative;
                box-shadow: $project-card-box-shadow;
                cursor: pointer;

                &:hover {
                    .card-after {
                        opacity: 1;
                        position: absolute;
                        left: 0;
                        top: 0;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        @include flex-row;

                        @include large-desktop {
                            @include flex-col;
                        }
                    }
                    .card-before {
                        background: rgb(65, 63, 63);
                        transition: 0.5s ease;
                        filter: brightness(0.3);
                    }
                }

                h3 {
                    font-size: map-get($font-size, large);
                    text-decoration: underline;
                    padding: 3% 0 0 0;
                }

                div {
                    font-size: map-get($font-size, small)
                }

                .card-before {
                    @include flex-row;

                    &__img {
                        width: 40%;
                        img {
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                        }
                    }
                    &__content {
                        width: 58%;
                        height: 100%;
                        color: $dark-mode-card-text-color;
                        line-height: 20px;
                        padding: 20px;
                        .client {
                            padding-top: 3%;
                            color: rgb(117, 114, 114);
                            font-size: 0.7rem;
                        }
                    }

                    @include large-desktop {
                        @include flex-col;

                        &__img {
                            width: 100%;
                            height: 200px;
                        }
                        &__content {
                            width: 100%;
                            height: 200px;
                        }
                    }
                }
                .card-after {
                    opacity: 0;
                    height: 0;
                    .btn-dark {
                        @include project-card-button;
                    }
                    .btn-site {
                        margin-left: 20%;
                    }
                    .btn-code {
                        margin-right: 20%;
                    }

                    @include large-desktop {
                        .btn-site {
                            margin-left: 0;
                        }
                        .btn-code {
                            margin-right:0;
                        }
                    }
                }
            }


            .project-card-light-mode {
                background: rgb(243, 241, 241);
                box-shadow: $light-mode-card-box-shadow;
                h3, div {
                    color: set-text-color($light-mode-bg);
                }
                border: solid 1px rgb(216, 213, 213);

                &:hover {
                    .card-before {
                        background: rgb(153, 153, 153);
                    }
                }
            }

            @include large-tablet {
                .project-card {
                    width: 45%;
                    margin-bottom: 5%;
                }
            }

            @include tablet {
                @include flex-col;
                width: 100%;

                .project-card {
                    width: 100%;
                    margin-bottom: 50px;
                    border-radius: map-get($border-radius, btn);
                    .card-before{
                        width: 100%;
                        img {
                            border-top-left-radius: map-get($border-radius, btn);
                            border-top-right-radius: map-get($border-radius, btn);
                        }
                    }
                }
            }
        }

        .portfolio {
            text-align: center;
            button {
                margin: 0;
            }
        }
    }
}

