@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Prompt:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");
.intro {
  position: relative;
}

.intro .topic-title {
  padding-left: 20px;
  vertical-align: center;
}

.intro .topic-title::before {
  content: '';
  position: absolute;
  background: #06ac85;
  width: 6px;
  height: 40px;
  margin: 0 20px 5px;
  left: -20px;
}

.about-me-section__container {
  padding: 3% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 660px) {
  .about-me-section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.about-me-section__container .bio {
  line-height: 30px;
  padding-right: 3%;
}

.about-me-section__container .bio h2 {
  font-size: 3.5rem;
}

.about-me-section__container .bio .btn-secondary {
  background: #355070;
  border: solid 1px #355070;
}

.about-me-section__container .bio .btn {
  margin-right: 40px;
}

.about-me-section__container .bio .btn:hover {
  opacity: 0.9;
}

@media (max-width: 1140px) {
  .about-me-section__container .bio .btn {
    margin: 10px 5px;
  }
}

.about-me-section__container .bio a {
  color: #06ac85;
}

.about-me-section__container .bio a:hover {
  text-decoration: underline;
}

.about-me-section__container .avatar {
  width: 40%;
  padding-right: 20%;
}

.about-me-section__container .avatar img {
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
  -webkit-box-shadow: 0 5px 10px rgba(68, 71, 85, 0.4);
          box-shadow: 0 5px 10px rgba(68, 71, 85, 0.4);
}

@media (max-width: 1300px) {
  .about-me-section__container .avatar img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1140px) {
  .about-me-section__container .avatar img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 660px) {
  .about-me-section__container .avatar img {
    display: none;
  }
}

.about-me-section-light-mode {
  background: #dfe1e6;
}

.skills-section__container {
  padding: 2% 0;
}

.skills-section__container .intro div:nth-child(2) {
  padding: 5px 0;
}

.skills-section__container .intro div:nth-child(2) a {
  color: #06ac85;
}

.skills-section__container .intro div:nth-child(2) a:hover {
  text-decoration: underline;
}

.skills-section__container .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  width: 100%;
  padding-top: 20px;
}

.skills-section__container .skills-container .skill {
  width: 23%;
}

@media (max-width: 800px) {
  .skills-section__container .skills-container .skill {
    width: 48%;
  }
}

.skills-section__container .skill div, .skills-section__container .skill p {
  font-size: 0.8rem;
}

.skills-section__container .skill h3 {
  font-size: 1.2rem;
  padding: 10px 0 0 0;
}

.skills-section__container .skill__icon {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.skills-section__container .skill img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.skills-section__container .skill .css {
  width: 38px;
  height: 38px;
}

.testimonials-section__container {
  border-top: solid 1px rgba(179, 175, 175, 0.1);
  border-bottom: solid 1px rgba(179, 175, 175, 0.1);
}

.testimonials-section__container .testimonials {
  width: 100%;
  padding: 2% 0 3% 0;
}

.testimonials-section__container .testimonials .rec-carousel-item {
  height: 100%;
}

.testimonials-section__container .testimonials .rec-carousel-item .rec-item-wrapper {
  height: 100%;
}

.testimonials-section__container .testimonials .testimonial-card {
  position: relative;
  background: #07202e;
  width: 100%;
  height: 100%;
  margin: 5%;
  padding: 3%;
  font-size: 0.8rem;
  color: #c5bfbf;
}

.testimonials-section__container .testimonials .testimonial-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90%;
  padding: 30px 30px 0 30px;
}

.testimonials-section__container .testimonials .testimonial-card .quote-icon {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  text-align: center;
  border-top: 50px solid #06ac85;
  border-right: 50px solid transparent;
}

.testimonials-section__container .testimonials .testimonial-card .quote-icon i {
  position: absolute;
  top: -40px;
  left: 8px;
  display: inline-block;
}

.testimonials-section__container .testimonials .testimonial-card__reviewer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  width: 100%;
}

.testimonials-section__container .testimonials .testimonial-card__reviewer-info img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: solid 3px #cecbcb;
}

.testimonials-section__container .testimonials .testimonial-card__reviewer-info--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
  padding: 8px;
}

.testimonials-section__container .testimonials .testimonial-card-light-mode {
  background: #cac8c8;
  -webkit-box-shadow: 0 2px 5px rgba(63, 61, 61, 0.3);
          box-shadow: 0 2px 5px rgba(63, 61, 61, 0.3);
  color: #131212;
}

.testimonials-section__container .testimonials button {
  background: #06ac85;
}

.testimonials-section__container .testimonials button:hover {
  background: #07202e;
  opacity: 0.8;
}

@media (max-width: 660px) {
  .testimonials-section__container .testimonials .rec-arrow {
    display: none;
  }
}

.testimonials-section__container .testimonials .rec-dot:hover {
  -webkit-box-shadow: 0 0 1px rgba(255, 254, 254, 0.856);
          box-shadow: 0 0 1px rgba(255, 254, 254, 0.856);
}

.testimonials-section__container .testimonials .rec-dot_active {
  -webkit-box-shadow: 0 0 1px 3px rgba(255, 254, 254, 0.856);
          box-shadow: 0 0 1px 3px rgba(255, 254, 254, 0.856);
}

.testimonials-section__container--light-mode {
  border-top: solid 1px rgba(77, 72, 72, 0.3);
  border-bottom: solid 1px rgba(77, 72, 72, 0.3);
}

.projects-section__container .projects-wrapper {
  padding: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.projects-section__container .projects-wrapper .project-card {
  width: 48%;
  margin-bottom: 3%;
  background: #07202e;
  position: relative;
  -webkit-box-shadow: 0 0 5px rgba(156, 150, 150, 0.3);
          box-shadow: 0 0 5px rgba(156, 150, 150, 0.3);
  cursor: pointer;
}

.projects-section__container .projects-wrapper .project-card:hover .card-after {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 1630px) {
  .projects-section__container .projects-wrapper .project-card:hover .card-after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.projects-section__container .projects-wrapper .project-card:hover .card-before {
  background: #413f3f;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

.projects-section__container .projects-wrapper .project-card h3 {
  font-size: 1.2rem;
  text-decoration: underline;
  padding: 3% 0 0 0;
}

.projects-section__container .projects-wrapper .project-card div {
  font-size: 0.8rem;
}

.projects-section__container .projects-wrapper .project-card .card-before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.projects-section__container .projects-wrapper .project-card .card-before__img {
  width: 40%;
}

.projects-section__container .projects-wrapper .project-card .card-before__img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects-section__container .projects-wrapper .project-card .card-before__content {
  width: 58%;
  height: 100%;
  color: #c5bfbf;
  line-height: 20px;
  padding: 20px;
}

.projects-section__container .projects-wrapper .project-card .card-before__content .client {
  padding-top: 3%;
  color: #757272;
  font-size: 0.7rem;
}

@media (max-width: 1630px) {
  .projects-section__container .projects-wrapper .project-card .card-before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .projects-section__container .projects-wrapper .project-card .card-before__img {
    width: 100%;
    height: 200px;
  }
  .projects-section__container .projects-wrapper .project-card .card-before__content {
    width: 100%;
    height: 200px;
  }
}

.projects-section__container .projects-wrapper .project-card .card-after {
  opacity: 0;
  height: 0;
}

.projects-section__container .projects-wrapper .project-card .card-after .btn-dark {
  background: #353e4d;
  border: solid 1px #293241;
  color: get-text-color(#07121b);
  width: 150px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.projects-section__container .projects-wrapper .project-card .card-after .btn-dark a {
  color: #fff;
  font-weight: 700;
}

.projects-section__container .projects-wrapper .project-card .card-after .btn-dark:hover {
  background: #1a2029;
}

.projects-section__container .projects-wrapper .project-card .card-after .btn-site {
  margin-left: 20%;
}

.projects-section__container .projects-wrapper .project-card .card-after .btn-code {
  margin-right: 20%;
}

@media (max-width: 1630px) {
  .projects-section__container .projects-wrapper .project-card .card-after .btn-site {
    margin-left: 0;
  }
  .projects-section__container .projects-wrapper .project-card .card-after .btn-code {
    margin-right: 0;
  }
}

.projects-section__container .projects-wrapper .project-card-light-mode {
  background: #f3f1f1;
  -webkit-box-shadow: 0 2px 5px rgba(63, 61, 61, 0.3);
          box-shadow: 0 2px 5px rgba(63, 61, 61, 0.3);
  border: solid 1px #d8d5d5;
}

.projects-section__container .projects-wrapper .project-card-light-mode h3, .projects-section__container .projects-wrapper .project-card-light-mode div {
  color: #131212;
}

.projects-section__container .projects-wrapper .project-card-light-mode:hover .card-before {
  background: #999999;
}

@media (max-width: 990px) {
  .projects-section__container .projects-wrapper .project-card {
    width: 45%;
    margin-bottom: 5%;
  }
}

@media (max-width: 800px) {
  .projects-section__container .projects-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    width: 100%;
  }
  .projects-section__container .projects-wrapper .project-card {
    width: 100%;
    margin-bottom: 50px;
    border-radius: 8px;
  }
  .projects-section__container .projects-wrapper .project-card .card-before {
    width: 100%;
  }
  .projects-section__container .projects-wrapper .project-card .card-before img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.projects-section__container .portfolio {
  text-align: center;
}

.projects-section__container .portfolio button {
  margin: 0;
}

.intro-section__container {
  text-align: center;
  width: 55%;
}

.intro-section__container button {
  margin: 1%;
}

.intro-section__container button a {
  color: #ece9e9;
}

@media (max-width: 1300px) {
  .intro-section__container {
    width: 80%;
  }
}

.intro-section-light-mode {
  background: #dfe1e6;
}

.portfolio-section__container {
  text-align: center;
  height: 80vh;
}

.portfolio-section__container .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  width: 30%;
  margin-top: 20px;
}

.portfolio-section__container .tabs .tab {
  width: 25%;
  font-size: 0.8rem;
  font-weight: 700;
  color: #998f8f;
  cursor: pointer;
}

.portfolio-section__container .tabs .tab::before {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  margin-bottom: 5px;
  background: #06ac85;
}

.portfolio-section__container .tabs .active::before {
  width: 100%;
}

.portfolio-section__container .tabs .tab-light-mode {
  color: #131212;
}

.portfolio-section__container .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 30px;
}

.portfolio-section__container .projects .project-card {
  width: 48%;
  margin: 25px 0;
  height: 200px;
  position: relative;
  cursor: pointer;
  -webkit-animation: 1s ease-in-out 0s 1 showup;
          animation: 1s ease-in-out 0s 1 showup;
  -webkit-box-shadow: 0 0 5px rgba(156, 150, 150, 0.3);
          box-shadow: 0 0 5px rgba(156, 150, 150, 0.3);
}

.portfolio-section__container .projects .project-card:hover .project-card__after {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 1630px) {
  .portfolio-section__container .projects .project-card:hover .project-card__after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.portfolio-section__container .projects .project-card:hover .project-card__before {
  background: #413f3f;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

.portfolio-section__container .projects .project-card__before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  background: #07202e;
}

.portfolio-section__container .projects .project-card__before img {
  width: 45%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio-section__container .projects .project-card__before .card-content {
  text-align: left;
  padding: 25px;
  width: 55%;
  height: 100%;
}

.portfolio-section__container .projects .project-card__before .card-content h3 {
  font-size: 1.2rem;
  text-decoration: underline;
}

.portfolio-section__container .projects .project-card__before .card-content .content {
  font-size: 0.8rem;
}

.portfolio-section__container .projects .project-card__before .card-content .client {
  font-size: 0.7rem;
  color: #7a7878;
}

.portfolio-section__container .projects .project-card__after {
  opacity: 0;
  height: 0;
}

.portfolio-section__container .projects .project-card__after button {
  margin: 0 auto;
  background: #353e4d;
  border: solid 1px #293241;
  color: get-text-color(#07121b);
  width: 150px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-section__container .projects .project-card__after button a {
  color: #fff;
  font-weight: 700;
}

.portfolio-section__container .projects .project-card__after button:hover {
  background: #1a2029;
}

.portfolio-section__container .projects .project-card__before--light-mode {
  background: #e2dede;
  color: #131212;
  -webkit-box-shadow: 0 2px 5px rgba(63, 61, 61, 0.3);
          box-shadow: 0 2px 5px rgba(63, 61, 61, 0.3);
}

.portfolio-section__container .projects .empty {
  width: 100%;
}

.portfolio-section__container .projects .empty__container {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  -webkit-animation: 1s ease-in-out 0s 1 showup;
          animation: 1s ease-in-out 0s 1 showup;
}

.portfolio-section__container .projects .empty__container video {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

.portfolio-section__container .projects .empty__container h3 {
  text-transform: uppercase;
  margin-top: 30px;
  padding: 5px;
  color: #06ac85;
  -webkit-box-shadow: 0 2px 2px 2px rgba(180, 178, 178, 0.6);
          box-shadow: 0 2px 2px 2px rgba(180, 178, 178, 0.6);
}

@media (max-width: 1630px) {
  .portfolio-section__container .projects .project-card {
    height: 230px;
  }
  .portfolio-section__container .projects .project-card img {
    width: 35%;
    -webkit-filter: brightness(0.9);
            filter: brightness(0.9);
  }
  .portfolio-section__container .projects .project-card .card-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 1300px) {
  .portfolio-section__container {
    height: 100%;
  }
  .portfolio-section__container .tabs {
    width: 50%;
  }
  .portfolio-section__container .projects .project-card {
    height: 400px;
  }
  .portfolio-section__container .projects .project-card__before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .portfolio-section__container .projects .project-card__before img {
    width: 100%;
    height: 180px;
  }
  .portfolio-section__container .projects .project-card__before .card-content {
    width: 100%;
  }
}

@media (max-width: 1130px) {
  .portfolio-section__container .projects .project-card {
    height: 420px;
  }
}

@media (max-width: 990px) {
  .portfolio-section__container .projects .project-card {
    height: 400px;
  }
}

@media (max-width: 860px) {
  .portfolio-section__container .projects .project-card {
    height: 420px;
  }
}

@media (max-width: 800px) {
  .portfolio-section__container .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    width: 100%;
  }
  .portfolio-section__container .projects .project-card {
    width: 80%;
    height: 100%;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.6);
            box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.6);
  }
}

@media (max-width: 660px) {
  .portfolio-section__container .tabs {
    width: 80%;
  }
  .portfolio-section__container .projects .empty__container {
    padding: 50px 0;
  }
}

.resume-content {
  text-align: center;
}

.resume-wrapper .top-section {
  -webkit-animation: top-ani 1s ease-in-out;
          animation: top-ani 1s ease-in-out;
}

.resume-wrapper .bottom-section .resume {
  -webkit-box-shadow: -10px 10px 10px rgba(85, 84, 84, 0.1);
          box-shadow: -10px 10px 10px rgba(85, 84, 84, 0.1);
}

.resume-wrapper .top-section-light-mode {
  background: #dfe1e6;
}

.bottom-section {
  -webkit-animation: rotateY-anim 1s ease-in-out;
          animation: rotateY-anim 1s ease-in-out;
}

.bottom-section h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #06ac85;
}

.bottom-section h4 {
  font-weight: 700;
  font-size: 1rem;
  color: #16856b;
}

.bottom-section ul {
  margin-left: 25px;
}

.bottom-section .resume-item-card {
  padding-bottom: 10px;
}

.bottom-section a {
  color: inherit;
  cursor: pointer;
}

.bottom-section a:hover {
  text-decoration: underline;
  color: #06ac85;
}

.bottom-section .profile, .bottom-section .resume-content__bottom--right {
  padding-left: 40px;
}

.bottom-section .contact, .bottom-section .resume-content__bottom--left {
  padding-right: 40px;
}

.bottom-section .summary {
  font-style: italic;
}

.bottom-section .work-experience li, .bottom-section .projects li {
  color: rgba(225, 225, 225, 0.7);
  padding-top: 6px;
}

.bottom-section .resume {
  font-size: 0.8rem;
  width: 80%;
  margin: 0 auto;
  background: #07202e;
  color: #ece9e9;
  margin-top: 25px;
}

.bottom-section .resume__intro {
  position: relative;
  z-index: 10;
  background: #07202e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 25px 50px;
  overflow: hidden;
}

.bottom-section .resume__intro:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: #020202;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
}

@media (max-width: 1300px) {
  .bottom-section .resume__intro:after {
    -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
  }
}

.bottom-section .resume__intro .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.bottom-section .resume__intro .avatar img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border: solid 10px #06ac85;
}

.bottom-section .resume__intro .intro-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

.bottom-section .resume__intro .intro-content .career {
  font-size: 1.2rem;
}

.bottom-section .resume__content {
  padding: 0 50px;
}

.bottom-section .resume__content--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bottom-section .resume__content--container .resume-content__top {
  border-bottom: solid 2px rgba(124, 124, 124, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 30px;
}

.bottom-section .resume__content--container .resume-content__top .contact {
  width: 250px;
  border-right: solid 2px rgba(124, 124, 124, 0.7);
}

.bottom-section .resume__content--container .resume-content__top .contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bottom-section .resume__content--container .resume-content__top .contact__content .navigation-item {
  width: 210px;
  font-size: 0.8rem;
}

.bottom-section .resume__content--container .resume-content__top .contact__content .navigation-item i {
  margin-right: 10px;
  width: 10px;
  color: #ece9e9;
}

@media (max-width: 1630px) {
  .bottom-section .resume__content--container .resume-content__top .contact {
    border-right: none;
  }
}

.bottom-section .resume__content--container .resume-content__top .profile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 40px;
}

@media (max-width: 1630px) {
  .bottom-section .resume__content--container .resume-content__top .profile {
    border-left: solid 2px rgba(124, 124, 124, 0.7);
  }
}

.bottom-section .resume__content--container .resume-content__bottom {
  margin: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bottom-section .resume__content--container .resume-content__bottom .dot {
  width: 10px;
  height: 10px;
  background: #7c7c7c;
  border-radius: 100%;
  position: absolute;
  right: -6px;
}

.bottom-section .resume__content--container .resume-content__bottom .dot1 {
  top: 10%;
}

.bottom-section .resume__content--container .resume-content__bottom .dot2 {
  top: 40%;
}

.bottom-section .resume__content--container .resume-content__bottom .dot3 {
  top: 75%;
}

.bottom-section .resume__content--container .resume-content__bottom--left {
  position: relative;
  width: 250px;
  border-right: solid 2px rgba(124, 124, 124, 0.7);
}

@media (max-width: 1630px) {
  .bottom-section .resume__content--container .resume-content__bottom--left {
    border-right: none;
  }
}

.bottom-section .resume__content--container .resume-content__bottom--left .education {
  border-top: solid 1px rgba(225, 225, 225, 0.5);
  padding-top: 30px;
}

.bottom-section .resume__content--container .resume-content__bottom--left .education__content .school {
  padding-bottom: 20px;
}

.bottom-section .resume__content--container .resume-content__bottom--right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1630px) {
  .bottom-section .resume__content--container .resume-content__bottom--right {
    border-left: solid 2px rgba(124, 124, 124, 0.7);
  }
}

.bottom-section .resume__content--container .resume-content__bottom--right .projects .project__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.bottom-section .resume__content--container .resume-content__bottom--right .projects .project__title--left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bottom-section .resume__content--container .resume-content__bottom--right .projects .project__title--left h4 {
  padding-right: 7px;
}

.bottom-section .resume__content--container .resume-content__bottom--right .projects .project__title--left div {
  padding-top: 2px;
  font-size: 0.7rem;
}

.bottom-section .resume__content--container .resume-content__bottom--right .projects .project__title--right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bottom-section .resume__content--container .resume-content__bottom--right .projects .project__title--right a, .bottom-section .resume__content--container .resume-content__bottom--right .projects .project__title--right span {
  padding-left: 5px;
}

.bottom-section .resume__content--container .resume-content__bottom--right .projects .project__content {
  font-style: italic;
}

@media (max-width: 1630px) {
  .bottom-section .resume {
    width: 100%;
  }
}

@media (max-width: 1425px) {
  .bottom-section .resume__intro {
    padding: 25px;
  }
  .bottom-section .resume__content {
    padding: 0 25px;
  }
  .bottom-section .resume__content--container .resume-content__top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .bottom-section .resume__content--container .resume-content__top .contact {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .bottom-section .resume__content--container .resume-content__top .contact__content {
    width: 210px;
    text-align: left;
  }
  .bottom-section .resume__content--container .resume-content__top .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    border-left: none;
    padding-left: 0;
    margin-top: 20px;
  }
  .bottom-section .resume__content--container .resume-content__bottom--left {
    width: 230px;
  }
}

@media (max-width: 1630px) {
  .bottom-section .resume-content__bottom--right {
    padding-left: 20px;
    margin-right: 0;
    padding-right: 0;
  }
  .bottom-section .resume-content__bottom--left {
    padding-right: 20px;
  }
}

@media (max-width: 1200px) {
  .bottom-section .resume__content--container .resume-content__bottom--left {
    width: 200px;
    padding-right: 5px;
  }
}

@media (max-width: 660px) {
  .bottom-section .resume__intro {
    padding-bottom: 50px;
  }
  .bottom-section .resume__intro .avatar {
    position: relative;
  }
  .bottom-section .resume__intro .avatar img {
    position: absolute;
    top: -60px;
    width: 120px;
    height: 120px;
    border: solid 3px #06ac85;
  }
  .bottom-section .resume__content--container .resume-content__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .bottom-section .resume__content--container .resume-content__bottom--left {
    width: 100%;
  }
  .bottom-section .resume__content--container .resume-content__bottom--left .dot {
    display: none;
  }
  .bottom-section .resume__content--container .resume-content__bottom--left .skills__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .bottom-section .resume__content--container .resume-content__bottom--left .skills__content .skill {
    width: 48%;
  }
  .bottom-section .resume__content--container .resume-content__bottom--left .education {
    border-bottom: solid 1px rgba(225, 225, 225, 0.5);
  }
  .bottom-section .resume__content--container .resume-content__bottom--left .education__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .bottom-section .resume__content--container .resume-content__bottom--left .education__content .school {
    width: 45%;
  }
  .bottom-section .resume__content--container .resume-content__bottom--right {
    width: 100%;
    border-left: none;
    padding-left: 0;
  }
  .bottom-section .resume__content--container .resume-content__bottom--right .projects, .bottom-section .resume__content--container .resume-content__bottom--right .work-experience {
    padding-top: 30px;
  }
  .bottom-section .resume__content--container .resume-content__bottom--right .projects {
    border-bottom: solid 1px rgba(225, 225, 225, 0.5);
  }
}

@media (max-width: 600px) {
  .bottom-section .resume__intro .avatar {
    display: none;
  }
}

@-webkit-keyframes top-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%) scale(1);
            transform: translateX(10%) scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
}

@keyframes top-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%) scale(1);
            transform: translateX(10%) scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
}

@-webkit-keyframes rotateY-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%) scale(1);
            transform: translateX(-10%) scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
}

@keyframes rotateY-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%) scale(1);
            transform: translateX(-10%) scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
}

.contact-me-top-section-light-mode {
  background: #dfe1e6;
}

.contact-me {
  text-align: center;
}

.contact-me div {
  padding: 15px 0 0 0;
  line-height: 30px;
}

.contact-me div a {
  color: #06ac85;
}

.contact-me div a:hover {
  text-decoration: underline;
}

.contact-me-bottom-section__container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  width: 100%;
}

.contact-me-bottom-section__container .cat-video {
  padding: 20px;
}

.contact-me-bottom-section__container .cat-video video {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

.contact-me-bottom-section__container .cm-form {
  max-width: 550px;
  width: 60%;
  text-align: center;
}

.contact-me-bottom-section__container .cm-form__row {
  border: #888383 solid 1px;
  border-radius: 8px;
  -webkit-box-shadow: -1px 1px 1px 1px rgba(126, 123, 123, 0.3);
          box-shadow: -1px 1px 1px 1px rgba(126, 123, 123, 0.3);
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  align-items: center;
  padding: 10px;
}

.contact-me-bottom-section__container .cm-form__row label {
  padding: 10px 0 0 8px;
}

.contact-me-bottom-section__container .cm-form__row input, .contact-me-bottom-section__container .cm-form__row textarea {
  width: 80%;
}

.contact-me-bottom-section__container .cm-form__row textarea {
  height: 200px;
}

.contact-me-bottom-section__container .cm-form__btn {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact-me-bottom-section__container .cm-form__btn button {
  width: 100px;
  margin: 10px;
}

.contact-me-bottom-section__container .cm-form__btn button:focus {
  -webkit-box-shadow: 0 0 5px rgba(156, 150, 150, 0.3);
          box-shadow: 0 0 5px rgba(156, 150, 150, 0.3);
}

.contact-me-bottom-section__container .cm-form .row--light-mode {
  background: #e2dede;
  border: 0 2px 5px rgba(63, 61, 61, 0.3);
}

.contact-me-bottom-section__container .message {
  height: 20px;
}

.contact-me-bottom-section__container .message__error {
  color: red;
  font-size: 0.8rem;
}

.contact-me-bottom-section__container .message__success {
  color: #06ac85;
}

@media (max-width: 1425px) {
  .contact-me-bottom-section__container .cm-form {
    width: 550px;
  }
}

@media (max-width: 990px) {
  .contact-me-bottom-section__container .cm-form {
    width: 80%;
  }
}

@media (max-width: 660px) {
  .contact-me-bottom-section__container .cm-form {
    width: 380px;
  }
  .contact-me-bottom-section__container .cm-form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    align-items: center;
    padding: 20px;
    margin: 0;
  }
  .contact-me-bottom-section__container .cm-form__row label {
    padding: 0;
  }
  .contact-me-bottom-section__container .cm-form__row input, .contact-me-bottom-section__container .cm-form__row textarea {
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

.btn {
  margin: 5% 0;
  text-transform: capitalize;
  background: #06ac85;
  border: solid 1px #06ac85;
}

.btn i {
  padding-right: 10px;
}

.btn:hover {
  background: #066d55;
  border: solid 1px #066d55;
}

.dark-mode {
  background: #07121b;
  color: #ece9e9;
}

.light-mode {
  background: #f8f4f4;
  color: #131212;
}

.main-wrapper, footer {
  margin-left: 280px;
}

@media (max-width: 990px) {
  .main-wrapper, footer {
    margin-left: 0;
  }
}

@-webkit-keyframes showup {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showup {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(100, 100, 100, 0.6);
            box-shadow: 0 5px 15px 0px rgba(100, 100, 100, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(100, 100, 100, 0.2);
            box-shadow: 0 25px 15px 0px rgba(100, 100, 100, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(100, 100, 100, 0.6);
            box-shadow: 0 5px 15px 0px rgba(100, 100, 100, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(100, 100, 100, 0.6);
            box-shadow: 0 5px 15px 0px rgba(100, 100, 100, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(100, 100, 100, 0.2);
            box-shadow: 0 25px 15px 0px rgba(100, 100, 100, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(100, 100, 100, 0.6);
            box-shadow: 0 5px 15px 0px rgba(100, 100, 100, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #367a5d, 0 0 25px #367a5d, 0 0 30px #367a5d, 0 0 35px #367a5d, 0 0 40px #367a5d;
  }
  to {
    text-shadow: 0 0 15px #fff, 0 0 20px #57cc99, 0 0 25px #57cc99, 0 0 30px #57cc99, 0 0 35px #57cc99, 0 0 40px #57cc99, 0 0 45px #57cc99;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #367a5d, 0 0 25px #367a5d, 0 0 30px #367a5d, 0 0 35px #367a5d, 0 0 40px #367a5d;
  }
  to {
    text-shadow: 0 0 15px #fff, 0 0 20px #57cc99, 0 0 25px #57cc99, 0 0 30px #57cc99, 0 0 35px #57cc99, 0 0 40px #57cc99, 0 0 45px #57cc99;
  }
}

header {
  background: #1b2a41;
  z-index: 99;
  width: 280px;
  position: fixed;
  height: 100%;
  text-align: center;
  padding: 30px 20px;
  color: #ece9e9;
}

@media (max-width: 990px) {
  header {
    position: static;
    width: 100%;
  }
}

.header__light {
  background: #00916e !important;
}

.fa-bars {
  font-size: 1.5rem;
  -webkit-transform: scale(1.5, 1.2);
          transform: scale(1.5, 1.2);
  border: solid 1px #fff;
  padding: 7px 10px;
  position: absolute;
  top: 30px;
  left: 30px;
  visibility: hidden;
}

@media (max-width: 990px) {
  .fa-bars {
    visibility: visible;
  }
}

.menu__name h1 {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
          animation: glow 1s ease-in-out infinite alternate;
}

.menu__intro--img {
  padding: 12px 0;
}

.menu__intro--img img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
}

.menu__intro--links {
  padding: 20px 0;
}

.menu__intro--links a {
  padding: 5px;
}

.menu__intro--links a i {
  color: #06ac85;
}

.menu__intro--links a i:hover {
  color: #ece9e9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu__intro--links a .light {
  color: #ece9e9 !important;
}

.menu__nav-bar {
  border-top: solid rgba(255, 255, 255, 0.5) 1px;
  border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
  padding: 5%;
}

.menu__nav-bar--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 0 0 5%;
}

.menu__nav-bar--links a {
  color: #d3d3d3;
  text-transform: capitalize;
  padding: 3%;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
}

.menu__nav-bar--links a i {
  width: 40px;
}

.menu__nav-bar--links a:hover {
  color: #ece9e9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-shadow: 0 0 15px #fff, 0 0 20px #367a5d, 0 0 25px #367a5d, 0 0 30px #367a5d, 0 0 35px #367a5d, 0 0 40px #367a5d, 0 0 45px #367a5d;
}

.menu__nav-bar--links .light {
  color: #114d3f;
}

.menu__nav-bar--links .dark {
  color: #06ac85;
}

.menu__nav-bar .hiremeBtn-light {
  background: #114d3f !important;
}

@media (max-width: 990px) {
  .menu__nav-bar {
    padding: 0;
  }
  .menu__nav-bar--links {
    padding: 0 8%;
  }
  .menu__nav-bar--links a {
    padding: 2% 0 0 0;
  }
  .menu__nav-bar button {
    margin: 2%;
    width: 80%;
  }
}

@media (max-width: 660px) {
  .menu__nav-bar--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 3% 5%;
  }
}

.menu__dark-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu__dark-mode .dark-mode-text {
  margin: 10px 0;
}

.menu__dark-mode .dark-mode-icon {
  width: 50px;
  height: 28px;
  border: solid 2px #06ac85;
}

.menu__dark-mode .dark-mode-icon {
  width: 50px;
  height: 28px;
  border-radius: 16px;
  border: solid 2px #06ac85;
  position: relative;
  margin-top: 5px;
  cursor: pointer;
}

.menu__dark-mode .dark-mode-icon::after {
  content: '';
  width: 50%;
  height: 80%;
  display: block;
  position: relative;
  background: #06ac85;
  left: 46%;
  top: 10%;
  border-radius: 65px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__dark-mode .light {
  border: solid 2px #fff !important;
}

.menu__dark-mode .light::after {
  left: 5% !important;
  background: #026b52 !important;
}

@media (max-width: 990px) {
  .menu__name {
    height: 40px;
  }
  .menu .sections-wrapper {
    opacity: 0;
    height: 0;
    -webkit-transition: height 0.2s ease;
    transition: height 0.2s ease;
  }
  .menu .menu-hidden {
    opacity: 0;
    height: 1px;
    -webkit-transition: height 0.2s ease;
    transition: height 0.2s ease;
  }
  .menu .menu-display {
    opacity: 1;
    height: 500px;
    padding-top: 10px;
  }
}

@media (max-width: 660px) {
  .menu .menu-display {
    height: 320px;
  }
  .menu__intro {
    display: none;
  }
}

main {
  width: 100%;
}

.about-me-section,
.skills-section,
.testimonials-section,
.projects-section,
.intro-section,
.portfolio-section,
.top-section,
.bottom-section,
.contact-me-top-section,
.contact-me-bottom-section {
  width: 100%;
  overflow: hidden;
  border-bottom: solid 1px rgba(105, 105, 105, 0.3);
}

.about-me-section__container,
.skills-section__container,
.testimonials-section__container,
.projects-section__container,
.intro-section__container,
.portfolio-section__container,
.top-section__container,
.bottom-section,
.contact-me-top-section__container,
.contact-me-bottom-section__container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2% 0;
}

footer {
  margin: 3% 0 0 0;
}

footer div {
  text-align: center;
  padding-bottom: 8px;
  text-transform: capitalize;
  font-size: 0.8rem;
}

footer div i {
  color: #06ac85;
}
/*# sourceMappingURL=App.css.map */